@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Argent';
	src: url('../../assets/fonts/Argent/argentcf-regular.otf') format('opentype');
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'Argent';
	src: url('../../assets/fonts/Argent/argentcf-extrabold.otf') format('opentype');
}

@font-face {
	font-weight: 900;
	font-style: normal;
	font-family: 'Argent';
	src: url('../../assets/fonts/Argent/argentcf-super.otf') format('opentype');
}
