@font-face {
	font-weight: 200;
	font-style: normal;
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham/Gotham-Thin.otf') format('opentype');
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham/Gotham-Book.otf') format('opentype');
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham/Gotham-Bold.otf') format('opentype');
}

@font-face {
	font-weight: 900;
	font-style: normal;
	font-family: 'Gotham';
	src: url('../../assets/fonts/Gotham/Gotham-Ultra.otf') format('opentype');
}
